@using System.Configuration
@model DataLayer.Users
<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در سایت ما ، جهت فعال سازی حساب کاربری خود روی لینک زیر کلیک کنید .</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/ActiveUser/@Model.ActiveCode">لینک فعالسازی</a>
    </p>
</div>
