
@using System.Configuration
@model DataLayer.Users
<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>جهت بازیابی کلمه عبور خود روی لینک زیر کلیک کنید .</p>
    <p>
        <a href="@ConfigurationManager.AppSettings["MyDomain"]/Account/RecoveryPassword/@Model.ActiveCode">لینک بازیابی کلمه عبور</a>
    </p>
</div>
