@model IEnumerable<DataLayer.Product_Groups>

<section class="border-radius category-side">
    <header><h3> دسته بندی ها </h3></header>
    <article>
        <ul class="category-menu">
@foreach (var group in Model.Where(g => g.ParentID == null))
{
    <li>
        <h2><a href="/Archive?selectedGroups=@group.GroupID">@group.GroupTitle</a></h2>
       @if (Model.Any(g => g.ParentID == group.GroupID))
       {
           <ul class="child-category-menu">
              @foreach (var subGroup in Model.Where(g => g.ParentID == group.GroupID))
              {
                  <li><h2><a href="/Archive?selectedGroups=@subGroup.GroupID">@subGroup.GroupTitle</a> <span>(@subGroup.Prodct_Selected_Groups.Count)</span></h2></li>
              }
           </ul>
       }
    </li>
}
        </ul>
    </article>
</section>
