body{
    margin: 0px;
    padding: 0px;
}

.container {
    width: 750px;
    margin: 10px auto;
}
.w3-panel {
    width: 300px;
}
.calcualtor {
    margin: 15px auto;
}
.calcualtor span {
    display: inline-block;
}